ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0b0e", ATTR{idProduct}=="0420", RUN+="/usr/bin/systemctl start usb_arecord.service", ENV{DEVTYPE}=="usb_device", RUN+="/usr/bin/logger 'USB CONNECTED'"

ACTION=="remove", SUBSYSTEM=="usb", RUN+="/usr/bin/systemctl start usb_disconnect.service", ENV{DEVTYPE}=="usb_device", RUN+="/usr/bin/logger 'USB disconnected'"
